{% extends 'index.html' %}
{% block title %}Hello Amps{% endblock %}

{%block aditionalScript%}
  <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
{% endblock%}

{% block style %}
  <style amp-custom>
    {{ style }}
  </style>
{% endblock %}

{% block content %}
  <amp-sidebar id="sidebar1" layout="nodisplay" side="right">
    <ul>
      <li>Nav item 1</li>
      <li><a href="#idTwo" on="tap:idTwo.scrollTo">Nav item 2</a></li>
      <li>Nav item 3</li>
      <li><a href="#idFour" on="tap:idFour.scrollTo">Nav item 4</a></li>
      <li>Nav item 5</li>
      <li>Nav item 6</li>
    </ul>
  </amp-sidebar>

  <button class="hamburger" on='tap:sidebar1.toggle'></button>


  <amp-lightbox id="my-lightbox"
    layout="nodisplay">
    <div class="lightbox"
      on="tap:my-lightbox.close"
      role="button"
      tabindex="0">
      <h1>Hello World!</h1>
    </div>
  </amp-lightbox>

  <button class="ampstart-btn caps m2"
    on="tap:my-lightbox"
    role="button"
    tabindex="0">
    Open lightbox
  </button>
{% endblock %}