{% extends 'index.html' %}
{% block title %}Hello Amps{% endblock %}

{% block style %}
  <style amp-custom>
    {{ style }}
  </style>
{% endblock %}

{% block componentScripts %}
  {%include "includes/scripts/amp-state.html" %}
  {%include "includes/scripts/amp-carousel.html" %}
  {%include "includes/scripts/amp-sidebar.html" %}
  {%include "includes/scripts/amp-fx-collection.html" %}
{% endblock %}

{% block state %}
  <amp-state id="selected">
    <script type="application/json">
      {
        "slide": 0
      }
    </script>
  </amp-state>
{% endblock %}


{% block content %}
    <div amp-fx="parallax" data-parallax-factor="1.2" data-duration="100ms">
    {% include "includes/components/amp-carousel.html" %}
    </div>

  <div class="container">
    {% for section in posts %}
      {% include "includes/components/text-section.html" %}
      <hr></hr>
    {% endfor %}
  </div>

{% endblock %}