//colors
$color-primary: blue;
$color-secondary: red;
$color-tertiary: green;

//backgrounds
$background-primary: #fff;

//breakpoints
$breakpoint-gl: 1306px;
$breakpoint-md: 930px;
$breakpoint-sm: 540px;

//shadows
$shadow-primary: rgba(0,0,0,.1);
$shadow-secondary: rgba(255,255,255,.1);

//font family
$primary-font:'Poiret One', 'cursive';