
{# script to run this component #}
{%block aditionalScript%}
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
{% endblock%}

<amp-sidebar id="sidebar1" layout="nodisplay" side="right">
  <ul>
    <li>
      <a href="#javascript" on="tap:idTwo.scrollTo">
        Javascript
      </a>
    </li>
    <li>
      <a href="#css" on="tap:idTwo.scrollTo">
        Css
      </a>
    </li>
    <li>
      <a href="#html" on="tap:idTwo.scrollTo">
        Html
      </a>
    </li>
  </ul>
</amp-sidebar>

<button class="hamburger" on='tap:sidebar1.toggle'></button>