<!doctype html>
<html ⚡ lang="en">
  <head>
    {% include "includes/required/metas.html" %}
    <title>{% block title %}{% endblock %}</title>

    {#amp dependencie#}
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {#setup of schema#}
    {% include "includes/required/schema-script.html" %}

    {#setup of components#}
    {% block componentScripts %}{% endblock %}

    {#amp boilerplate layout#}
    {% include "includes/required/boilerplate.html" %}

    {#setup custom layout#}
    {% block style %}{% endblock %}
  </head>

  <body>
    {% include "includes/components/amp-sidebar.html" %}
    {% block state %}{% endblock %}
    <header class="header">
      <h1 class="header__title">Amp News</h1>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>