<amp-sidebar id="sidebar" class="sidebar" layout="nodisplay" side="right">
  <amp-img class="amp-close-image sidebar__close" src="close.svg" width="20" height="20" alt="close sidebar" on="tap:sidebar.close" role="button" tabindex="0"></amp-img>
  <ul class="sidebar__list">
    <li class="sidebar__list__item"><a href="#main">Main</a></li>
    <li class="sidebar__list__item"><a href="#sports">Sports</a></li>
    <li class="sidebar__list__item"><a href="#economy">Economy</a></li>
    <li class="sidebar__list__item"><a href="#tecnology">Tecnology</a></li>
    <li class="sidebar__list__item"><a href="#company">Company</a></li>
  </ul>
</amp-sidebar>
<amp-img class="amp-open-image sidebar__open" src="hamburguer.svg" width="20" height="20" alt="close sidebar" on="tap:sidebar.toggle" role="button" tabindex="0"></amp-img>
