body {
  background-color: red;
}
amp-img {
  background-color: gray;
  border: 1px solid black;
  margin: 0 auto;
  display: block;
}

.lightbox {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox h1 {
  color: white;
}