*,
*:before,
*:after {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }
  html img {
    max-width: 100%; }
  html a {
    text-decoration: none; }
    html a:hover {
      text-decoration: none; }

.container {
  padding: 0 20px;
  max-width: 930px;
  margin: 0 auto; }

hr {
  margin: 5px 0; }

.header {
  height: 50px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  padding: 5px 10px; }
  .header__title {
    text-align: center;
    margin-top: 10px; }

.pagination {
  width: 100%;
  height: 30px;
  font-size: 14px;
  text-align: center;
  transform: translateY(-80%);
  font-weight: bold; }

.pagination .current {
  color: red; }

.sidebar {
  position: relative;
  padding: 10px;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.1);
  background: #fff;
  padding-right: 30px; }
  .sidebar__open {
    position: absolute;
    right: 10px;
    top: 10px; }
  .sidebar__list__item {
    height: 20px;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .sidebar__list__item a {
    color: #000;
    font-size: 16px;
    line-height: 1.4;
    display: block;
    width: 100%;
    height: 100%; }

.carousel {
  display: block;
  margin: 0 auto;
  max-height: 350px; }

.text-section {
  padding: 10px 0; }
  .text-section__image {
    overflow: hidden;
    margin-bottom: -20%;
    opacity: .8; }
  .text-section__title {
    margin-bottom: 10px; }
  .text-section__text {
    text-align: justify; }
