{% extends 'index.html' %}
{% block title %}Hello Amps{% endblock %}

{%block aditionalScript%}
  <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
{% endblock%}

{% block style %}
  <style amp-custom>
    {{ style }}
  </style>
{% endblock %}

{% block content %}
  <amp-img src="dog.jpg" alt="A dog picture" height="400" width="800"></amp-img>
  <amp-lightbox id="my-lightbox"
    layout="nodisplay">
    
    <div class="lightbox"
      on="tap:my-lightbox.close"
      role="button"
      tabindex="0">
      <h1>Hello World!</h1>
    </div>
  </amp-lightbox>

  <button class="ampstart-btn caps m2"
    on="tap:my-lightbox"
    role="button"
    tabindex="0">
    Open lightbox
  </button>
{% endblock %}